html { 
  background: url(Temp.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#returnTemp {
	
}

#main {
	position: absolute;
    right: 100px;
    width: 300px;
    border: 5px solid;
    padding: 20px;
	text-align: center;
	background-color: rgba(0,0,255,.4);
	font-family: 'Cabin', sans-serif;
	font-size: 22px;
	color: coral;
	border-radius: 50px;
}
#tempForm {
	border: 5px dotted;
	text-align: center;
	padding: 20px;
	border-radius: 25px;
}
